.sctokenshome {
  padding-bottom: 101px;
}

.sctokentable {
  padding-bottom: 120px;
  .table {
    font-size: var(--fs-body2);
    line-height: var(--lh-body2);
    .tablerow {
      display: grid;
      grid-template-columns: 2.5fr 2.5fr 2fr 2fr 1fr;
      align-items: center;
      gap: 10px;
      padding: 40px 0 42px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      &.--tableheader {
        font-family: dmb;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 18px;
      }
      .cell {
        .btntag {
          height: 26px;
          padding: 0 8px;
          background-color: var(--darkblue-cl);
          font-size: 1.2rem;
          line-height: 1.2rem;
          letter-spacing: 0.6px;
        }
      }
      .cell:first-child {
        a {
          display: flex;
          gap: 16px;
          align-items: center;
          font-family: dmb;
          color: var(--white-cl);
          font-size: var(--fs-body1);
        }
      }
      .cell:last-child {
        a {
          color: var(--white-cl);
          position: relative;
          text-decoration: underline;
        }
      }
    }
  }
}

@include sm {
  .sctokentable {
    .table {
      .tablerow {
        grid-template-columns: 1fr;
        border-bottom: none;
        &:not(:nth-child(2)) {
          display: none;
        }
        .cell {
          padding: 32px 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          &::before {
            content: attr(data-title);
            display: block;
            margin-bottom: 10px;
            font-family: dmb;
            text-transform: uppercase;
            letter-spacing: 0.32px;
          }
        }
      }
    }
  }
}

@include xs {
  .sctokenshome {
    padding-bottom: 48px;
    .textbox {
      .desc {
        margin: 0;
      }
    }
  }
  .sctokentable {
    padding-bottom: 80px;
  }
}
